.navbar {display: flex; justify-content: flex-end;}
.message {display: flex; justify-content: center; flex-direction: row; font-size: 46px; font-weight: bold; margin: 100px;}
body {background-color: rgb(244, 244, 244);}